.controllerzone{
    width:100%;
    height:100%;
    background-color:#eee;
    float:left;
}

.joystickzone-left{
    float:left;
    position:relative;
    left:0px;
    top:0px;
    width:100px;
    height:100%;
    background-color:#ccc;
}

.joystickzone-right{
    float:right;
    position:relative;
    left:0px;
    top:0px;
    width:100px;
    height:100%;
    background-color:#ccc;
}
